
* {

  /*  outline: 1px red solid;*/

}

.html { 
  background: url(img/masseybackground.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

    outline: 1px red solid;
}

.html {
  
    overflow: hidden;
}

.body {
    overflow: hidden;
      background-color: #f5f5f5;    
}

.galleryBody {
   padding-top: 80px;
}

.gallery div {
        width:200px;     
        height:200px;    
        overflow:hidden;    
    }

.p {
        width:auto;
        height: 200px;   
    }

.l {
        width:200px;
        height: auto; 
    }
<<<<<<< HEAD

.leftHalf img {
   width: 50%;
   position: absolute;
   left: 0px;
   height: auto;
}

.rightHalf img {
   width: 50%;
   position: absolute;
   right: 0px;
   height: auto;
}

.navbar {
    background-color:#c2d6df;
    opacity:0.7;
}

#copyright {
   float
}

#social img{
    float:right;
    height: 40px;
}

#logo img {
    height: 70px;
    
}


.galleryBody {
   padding-top: 150px;
}

#gallery img {
   opacity: 1;
     -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
 
    margin-right: auto;
    margin-left: auto;
   
}

#gallery img:hover {
   opacity: 0.7;
}

.item img{
    height: auto;
    width: 100%;
    padding-top: 10px;
}

.navbar-nav {
    float:right;
}

.navbar-nav a {
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    color: black;
    height: 70px;
    width: 100px;
    text-align: center;
}

.navbar-nav a:hover {
    background-color: grey;
}    


.leftHalf img {
   width: 50%;
   position: absolute;
   left: 0px;
   height: auto;
}

.rightHalf img {
   width: 50%;
   position: absolute;
   right: 0px;
   height: auto;
}

.navbar {
    background-color:#c2d6df;
    opacity:0.7;
}


#copyright {
}

#social img{
    float:right;
    height: 40px;
}

#logo img {
    height: 70px;
    float:left;
    
}


.selectors button {
    height: 50px;
    background-color: white;
    border: none;
    -webkit-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    transition: background-color 0.5s;
    
}

.selectors button:hover {
    background-color: grey;
}



.info {
    -webkit-transition: visibility 0.5s, opacity 0.5s linear;
    -moz-transition: visibility 0.5s, opacity 0.5s linear;
    -o-transition: visibility 0.5s, opacity 0.5s linear;
    transition: visibility 0.5s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
}


.artists img {
    width: 400px;
    display: inline-block;
}

#copyright {
    float: left;
    padding-top: 10px;
}

#map {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%);
      }